@font-face {
  font-family: 'raje-icons';
  src: url("../fonts/raje-icons.eot?57dsvg");
  src: url("../fonts/raje-icons.eot?57dsvg#iefix") format("embedded-opentype"), url("../fonts/raje-icons.ttf?57dsvg") format("truetype"), url("../fonts/raje-icons.woff?57dsvg") format("woff"), url("../fonts/raje-icons.svg?57dsvg#raje-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

table.mce-item-table,
.mce-item-table td,
.mce-item-table th,
.mce-item-table caption {
  border: 1px solid black !important;
}

header.page-header.container.cgen:hover {
  cursor: pointer;
}

section ol>li,
section ul>li {
  margin: 0 0 10px;
}

ol ol,
ul ul,
ol ol ol,
ul ul ul {
  margin-top: 10px;
}

pre>code[data-mce-selected] {
  background: none !important;
}

li.hidden-list-style {
  list-style-type: none;
}

i.mce-i-icon-anchor:before {
  content: "\f13d";
  font-family: FontAwesome;
}

i.mce-i-icon-footnotes:before {
  content: "\e900";
  font-family: 'raje-icons' !important;
}

i.mce-i-icon-inline-code:before {
  content: "\e901";
  font-family: 'raje-icons' !important;
}

i.mce-i-icon-block-code:before {
  content: "\e905";
  font-family: 'raje-icons' !important;
}

i.mce-i-icon-block-quote:before {
  content: "\e906";
  font-family: 'raje-icons' !important;
}

i.mce-i-icon-inline-formula:before {
  content: "\e902";
  font-family: 'raje-icons' !important;
}

i.mce-i-icon-inline-quote:before {
  content: "\e904";
  font-family: 'raje-icons' !important;
}

i.mce-i-icon-formula:before {
  content: "\e903";
  font-family: 'raje-icons' !important;
}

i.mce-i-icon-table:before {
  content: "\f0ce";
  font-family: FontAwesome;
}

i.mce-i-icon-image:before {
  content: "\f03e";
  font-family: FontAwesome;
}

i.mce-i-icon-listing:before {
  content: "\f022";
  font-family: FontAwesome;
}

i.mce-i-icon-listing:before {
  content: "\f022";
  font-family: FontAwesome;
}

i.mce-i-icon-ol:before {
  content: "\f0cb";
  font-family: FontAwesome;
}

i.mce-i-icon-ul:before {
  content: "\f0ca";
  font-family: FontAwesome;
}

figure[id] span[contenteditable=false]:hover {
  cursor: pointer !important;
}

@media (min-width: 768px) {
  .mce-toolbar-grp {
    margin: 0 auto !important;
    width: 750px !important;
  }
}

@media (min-width: 992px) {
  .mce-toolbar-grp {
    margin: 0 auto !important;
    width: 970px !important;
  }
}

@media (min-width: 1200px) {
  .mce-toolbar-grp {
    margin: 0 auto !important;
    width: 1170px !important;
  }
}

aside#annotations[contentEditable=false] {
  outline: none;
}

#annotatorPopup {
  position: absolute;
  top: 200px;
  left: 200px;
  background-color: #337ab7;
  color: #ffffff;
  z-index: 100;
  border-radius: 5px;
  max-width: 200px;
  padding: 8px 10px 6px 10px;
  text-align: center;
}

#annotatorFormPopup {
  z-index: 100;
  position: absolute;
  min-width: 265px;
  background-color: rgba(251, 251, 251, 0.98);
  border: 1px solid rgba(122, 122, 122, 0.6);
  border-radius: 5px
}

#annotatorFormPopup>textarea {
  background-color: #f3f3f3;
  outline: 0;
  border-radius: 5px 5px 0 0;
}

#annotatorFormPopup>.annotatorFormPopup_footer {
  text-align: right;
  padding: 3px;
  border-top: 1px solid #d4d4d4;
  background-color: #d4d4d4;
  border-radius: 0 0 5px 5px;
}

#annotatorPopup:hover {
  background-color: #2e6da4;
  cursor: pointer;
}

#annotatorPopup:hover>.annotatorPopup_arrow {
  border-top-color: #2e6da4;
}

#annotatorPopup>.annotatorPopup_arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #337ab7;
}