@import url("https://fonts.googleapis.com/css?family=Roboto|Satisfy");
#above_folding {
  width: 100%;
  background-color: #494DA1; }
  #above_folding .navbar {
    min-height: 100px; }
    #above_folding .navbar .navbar-brand {
      font-size: 32px !important;
      font-family: "Satisfy", cursive; }
  #above_folding .jumbotron {
    background-color: inherit;
    z-index: 10;
    margin: 0; }
    #above_folding .jumbotron a {
      color: rgba(255, 206, 84, 0.8); }
      #above_folding .jumbotron a:hover {
        color: #ffce54;
        text-decoration: none;
        cursor: pointer; }
    #above_folding .jumbotron .wrapper {
      padding-top: 50px; }
      #above_folding .jumbotron .wrapper .container {
        margin-top: 50px; }
        #above_folding .jumbotron .wrapper .container .lead {
          padding-top: 10px;
          color: rgba(245, 247, 250, 0.7); }
        #above_folding .jumbotron .wrapper .container .call_to_action {
          padding: 15px 25px;
          background-color: white;
          color: #494DA1;
          font-weight: bold;
          border-radius: 3px;
          display: inline-block; }
      #above_folding .jumbotron .wrapper .blockquote {
        margin-top: 50px; }
        #above_folding .jumbotron .wrapper .blockquote .blockquote-footer {
          font-size: 20px;
          color: #F5F7FA; }
