@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Satisfy")

$starting_color_gradient: #DE5F5F
$ending_color_gradient: #54B9DB
$primary_color: #AA6E7D
$secondary_color: #F5DA75
$grey_text: #F5F7FA

#above_folding
  width: 100%
  background: #de5f5f
  background: -moz-linear-gradient(-45deg, $starting_color_gradient 0%, $ending_color_gradient 100%)
  background: -webkit-linear-gradient(-45deg, $starting_color_gradient 0%, $ending_color_gradient 100%)
  background: linear-gradient(135deg, $starting_color_gradient 0%, $ending_color_gradient 100%)

  .navbar
    min-height: 100px

    .navbar-brand
      font-size: 32px !important
      font-family: "Satisfy", cursive

  .jumbotron
    background-color: inherit
    z-index: 10
    margin: 0

    a
      color: $secondary_color

      &:hover
        cursor: pointer

    .wrapper
      padding-top: 50px

      .container
        margin-top: 50px

        .lead
          padding-top: 10px
          color: $grey_text

        .call_to_action
          padding: 15px 25px
          background-color: white
          color: $primary_color
          font-weight: bold
          border-radius: 3px
          display: inline-block

          &:hover
            text-decoration: none

      .blockquote
        margin-top: 50px

        .blockquote-footer
          font-size: 20px
          color: $grey_text

#discover
  .container
    padding-bottom: 100px

    .display-4
      margin-top: 100px
      font-family: "Roboto Slab", serif
      color: $starting_color_gradient

    .lead
      margin: 20px 0

    a
      color: $ending_color_gradient
