@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Satisfy");
.link_colour {
  color: #F5DA75 !important; }

.call_to_action {
  padding: 15px 25px;
  font-weight: bold;
  border-radius: 3px;
  display: inline-block;
  text-transform: uppercase; }
  .call_to_action:hover {
    text-decoration: none; }

#above_folding {
  width: 100%;
  background: #de5f5f;
  background: -moz-linear-gradient(-45deg, #DE5F5F 0%, #54B9DB 100%);
  background: -webkit-linear-gradient(-45deg, #DE5F5F 0%, #54B9DB 100%);
  background: linear-gradient(135deg, #DE5F5F 0%, #54B9DB 100%); }
  #above_folding .navbar {
    min-height: 100px; }
    #above_folding .navbar .navbar-brand {
      font-size: 32px !important;
      font-family: "Satisfy", cursive; }
  #above_folding .jumbotron {
    background-color: inherit;
    z-index: 10;
    margin: 0; }
    #above_folding .jumbotron a {
      color: #F5DA75; }
      #above_folding .jumbotron a:hover {
        cursor: pointer; }
    #above_folding .jumbotron .wrapper {
      padding-top: 50px; }
      #above_folding .jumbotron .wrapper .container {
        margin-top: 50px; }
        #above_folding .jumbotron .wrapper .container .call_to_action {
          background-color: white;
          color: #AA6E7D; }
        #above_folding .jumbotron .wrapper .container a:nth-child(1) {
          color: #A88492; }
        #above_folding .jumbotron .wrapper .container a:nth-child(2) {
          color: #A18998; }
        #above_folding .jumbotron .wrapper .container a:nth-child(3) {
          color: #9491A3; }
        #above_folding .jumbotron .wrapper .container a:nth-child(4) {
          color: #879BB0; }
        #above_folding .jumbotron .wrapper .container a:nth-child(5) {
          color: #849CB2; }
        #above_folding .jumbotron .wrapper .container .lead {
          padding-top: 10px;
          color: #F5F7FA; }
      #above_folding .jumbotron .wrapper .blockquote {
        margin-top: 50px; }
        #above_folding .jumbotron .wrapper .blockquote .blockquote-footer {
          font-size: 20px;
          color: #F5F7FA;
          opacity: 0.85; }
          #above_folding .jumbotron .wrapper .blockquote .blockquote-footer p {
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px; }

#discover .container {
  padding-top: 50px;
  padding-bottom: 100px; }
  #discover .container .display-4 {
    margin: 50px 0;
    font-family: "Roboto Slab", serif; }
  #discover .container .lead {
    margin: 20px 0; }
    #discover .container .lead strong {
      color: #DE5F5F; }
    #discover .container .lead a {
      color: #54B9DB; }

#footer {
  background-color: #434A54;
  padding: 100px 0; }
  #footer a {
    color: #F5DA75; }

#download .call_to_action {
  margin-top: 20px;
  background-color: #54B9DB;
  color: white; }

body section:not(#above_folding) {
  padding-top: 100px;
  color: #555; }

body footer {
  margin-top: 100px; }
  body footer h1.display-4 {
    margin-bottom: 50px;
    color: #333; }

html {
  font-size: 0.7rem; }

@media (min-width: 768px) {
  html {
    font-size: 0.8rem; } }

@media (min-width: 992px) {
  html {
    font-size: 0.9rem; } }

@media (min-width: 1200px) {
  html {
    font-size: 1rem; } }
