@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Satisfy")

$starting_color_gradient: #DE5F5F
$ending_color_gradient: #54B9DB
$primary_color: #AA6E7D
$secondary_color: #F5DA75
$grey_text: #F5F7FA
$footer_color: #434A54

.link_colour
  color: $secondary_color !important

.call_to_action
  padding: 15px 25px
  font-weight: bold
  border-radius: 3px
  display: inline-block
  text-transform: uppercase
  margin-top: 5px

  &:hover
    text-decoration: none

#above_folding
  width: 100%
  background: #de5f5f
  background: -moz-linear-gradient(-45deg, $starting_color_gradient 0%, $ending_color_gradient 100%)
  background: -webkit-linear-gradient(-45deg, $starting_color_gradient 0%, $ending_color_gradient 100%)
  background: linear-gradient(135deg, $starting_color_gradient 0%, $ending_color_gradient 100%)

  .navbar
    min-height: 100px

    .navbar-brand
      font-size: 32px !important
      font-family: "Satisfy", cursive

  .jumbotron
    background-color: inherit
    z-index: 10
    margin: 0

    a
      color: $secondary_color

      &:hover
        cursor: pointer

    .wrapper
      padding-top: 50px

      .container
        margin-top: 50px

        .call_to_action
          background-color: white
          color: $primary_color

        a:nth-child(1)
          color: #A88492

        a:nth-child(2)
          color: #A18998

        a:nth-child(3)
          color: #9491A3

        a:nth-child(4)
          color: #879BB0

        a:nth-child(5)
          color: #849CB2

        .lead
          padding-top: 10px
          color: $grey_text

      .blockquote
        margin-top: 50px

        .blockquote-footer
          font-size: 20px
          color: $grey_text
          opacity: 0.85

          p
            max-width: 90%
            margin-left: auto
            margin-right: auto
            margin-top: 10px

section:not(#above_folding)
  .display-4
    margin: 40px 0
    //font-family: "Roboto Slab", serif

#footer
  background-color: $footer_color
  padding: 100px 0

  a
    color: $secondary_color

#download
  .call_to_action
    margin-top: 20px
    background-color: $ending_color_gradient
    color: white

body
  section:not(#above_folding)
    padding-top: 100px
    color: #555

  footer
    margin-top: 100px

    h1.display-4
      margin-bottom: 50px
      color: #333

html
  font-size: 0.7rem

@media (min-width: 576px)
  html
    font-size: 0.8rem

  #main_citation
    display: none

@media (min-width: 768px)
  html
    font-size: 0.8rem

  #main_citation
    display: none

@media (min-width: 992px)
  html
    font-size: 0.9rem

  #main_citation
    display: block

@media (min-width: 1200px)
  html
    font-size: 1rem
    
  #main_citation
    display: block
